* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.App {
  text-align: center;
  border: 2px solid blue;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  padding: 5px 10px;
}

h1 {
  color: lightskyblue;
}

h3 {
  color: lightskyblue;
}

.table {
  border: 2px solid black !important;
}

.table-container {
  border: 15px solid lawngreen;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
